<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item" *ngFor="let server of servers">
                {{server.name}}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a routerLink ="../users">User link</a>
        <button class="btn btn-primary" type="button" (click)="onReload()">reload page</button>
            <edit-server></edit-server>
        </div>
        <hr>
        <server></server>

</div>

